<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
</br>
<p> Don't you want a personalized version?  By creating your own account you can choose from activities you've personally selected rather than those submitted by all users. </p>
<p> No information is sold to anybody, and we try not to get any info that's too private so we don't have to worry about protecting your privacy </p>
