<% provide(:title, 'Info') %>
<h1>So what is this?</h1>
<p>	this is an adventure planning app</p>
<p>	enter in some desired adventures, and pick from them later </p>
<p> this is also very much in development, so keep expectations low </p>
