<% provide(:title, 'Info') %>
<h1>So what is this?</h1>
<p>	this is an adventure planning app</p>
<p>	enter in some things you are interested in doing, and when you've got some free time pick from them later </p>
<p> this is also very much in development, so keep expectations low </p>

<h2>So who is doing this?</h2>
<p> Heidi - also known as TheSquirrelfish around the internet </p>
<p> check out my adventures in using this app on <a href="http://thesquirrelfish.com/blog">my blog</a></p>

<h3> You want to try it out?</h3>
