@import "bootstrap";

/* footer */

footer {
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #39E681;
}

footer a:hover {
  colore: #222;
}

footer small {
  float: left;
}
