@import "bootstrap";
/* mixins, variables, etc */

$prettyGreen:#39E681;

/* universal */

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center h1 {
  margin-bottom: 10px;
}

/* footer */

footer {
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: $prettyGreen;
}

footer a:hover {
  colore: #222;
}

footer small {
  float: left;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  padding-top: 9px;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}